
/* Basic style to design web forms     */

/* dont use this file inside you theme, just copy the content inside a css    */

.webform-component-textfield {


clear: both;
}

.webform-component-textfield  label  {

float: left;
text-align: right;
width: 200px;
margin: 5px 0px 19px 10px;

}

.webform-component-textfield input {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

.webform-component-textfield .description  {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

/* form email */
.webform-component-email  label  {

float: left;
text-align: right;
width: 200px;
margin: 5px;

}

.webform-component-email  input {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}


/* form telephone */

.webform-component-number {


clear: both;
}

.webform-component-number label  {

float: left;
text-align: right;
width: 200px;
margin: 5px;

}

.webform-component-number  input {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}


/* calendar */

.webform-component-date  {


clear: both;
}

.webform-component-date  label  {

float: left;
text-align: right;
width: 200px;
margin: 5px;

}


.webform-component-date .webform-datepicker {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

#webform-component-citizenship  {


clear: both;
}



/* title separator */

.webform-component-fieldset  {


clear: both;
}

/* *
#webform-component-subject-department-faculty {


clear: both;
}

#webform-component-subject-department-faculty label  {

float: left;
text-align: right;
width: 200px;
margin: 5px;

}

#webform-component-subject-department-faculty label  {
float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;

}*/

#webform-component-level label {
display: inline;
margin: 5px 5px 15px 158px;
}

/* Level */

.webform-component-radios {


clear: both;
}

#webform-component-level .form-radios  {


width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

#webform-component-level  .form-radios label {
display: inline;
margin: 5px 5px 15px 5px;
}



/* Comments */

.webform-component-textarea label  {

float: left;
text-align: right;
width: 200px;
margin: 5px;

}

.webform-component-fieldset legend {
	font-family: "Tienne";
font-size: 1.3em;
font-weight:bold;
color: #B97500;
}


.webform-component-textarea {


clear: both;
}

.webform-component-textarea .resizable-textarea  {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

.webform-component-textarea .description  {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

/* upload field */

.webform-component-managed_file {


clear: both;
}

.webform-component-managed_file label  {

float: left;
text-align: right;
width: 200px;
margin: 5px;

}

.webform-component-managed_file  input {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}
.webform-component-managed_file  .form-managed-file {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

.webform-component-managed_file .description  {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}

/*
.webform-component-managed_file input[type="file"]  {

float: right;
width: 150px;
margin: 5px 5px 15px 10px;

} */

.webform-component-managed_file .form-file {

float: right;
width: 250px;
margin: 5px 45px 15px 10px;
}


.webform-component-managed_file button, .webform-component-managed_file input[type="reset"], .webform-component-managed_file input[type="submit"], .webform-component-managed_file input[type="button"] {

width: 100px;
margin: 5px 200px 5px 5px;
clear: right;

}

#webform-component-do-you-have-any-source-of-support-for-your-course-fees-living-costs-and-travel {

clear: both;

}


#webform-component-do-you-have-any-source-of-support-for-your-course-fees-living-costs-and-travel label {
	
float: left;
text-align:right;
width: 150px;
margin: 5px 5px 5px 60px;



}

#webform-component-do-you-have-any-source-of-support-for-your-course-fees-living-costs-and-travel .form-radios {

float: left;
width: 250px;
margin: 5px 180px 15px 10px;
clear: right;
}


#webform-component-do-you-have-any-source-of-support-for-your-course-fees-living-costs-and-travel .form-radios  input {
	
	float: left;
text-align:right;
width: 15px;
margin:10px 5px 10px 10px;


}

#webform-component-do-you-have-any-source-of-support-for-your-course-fees-living-costs-and-travel .form-radios label {


float: left;
text-align:right;
width: 15px;
margin: 5px 5px 5px 5px;


}



/* botton send file*/

#edit-actions   {


clear: both;
}

/*  */

#webform-component-partial-fellowships label {
	
float: left;
text-align:right;
width: 150px;
margin: 7px 5px 5px 60px;



}

#webform-component-partial-fellowships .form-radios {

float: left;
width: 250px;
margin: 0px 180px 15px 0px;
clear: right;
}

#webform-component-partial-fellowships .form-radios  input {
	
	float: left;
text-align:right;
width: 15px;
margin:10px 5px 10px 10px;


}

#webform-component-partial-fellowships .form-radios label {


float: left;
text-align:right;
width: 15px;
margin: 5px 5px 5px 5px;


}


#webform-component-partial-fellowships .description  {

float: right;
width: 300px;
margin: 5px 180px 15px 10px;
clear: right;
}




/* botton SEND FORM */

#edit-submitted-curriculum-vitae-upload-button button, #edit-submitted-curriculum-vitae-upload-button input[type="reset"], #edit-submitted-curriculum-vitae-upload-button input[type="submit"], #node-webform-200 input[type="button"] {
    background-color: #000000 ;


    border-color: -moz-use-text-color;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 0.875em;
    padding: 10px;
    margin:10px 10px 0px 0px;
        text-shadow:  0px 0px #FFFFFF;
       float:left;
        width:100px;
}


#node-webform-200 button, #node-webform-200 input[type="reset"], #node-webform-200 input[type="submit"], #node-webform-200 input[type="button"] {
    background-color: #000000 ;


    border-color: -moz-use-text-color;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 0.875em;
    padding: 10px;
    margin:10px 10px 0px 0px;
        text-shadow:  0px 0px #FFFFFF;
       
        width:200px;
}
